<% provide(:title, 'About') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 one-col">
    <h1>About</h1>
    <p>Twitter clone app built with Ruby on Rails. See more details on <a href="https://github.com/toshimaru/RailsTwitterClone">Github</a>.</p>
    <p>Author: <a href="https://twitter.com/toshimaru_e"> toshimaru</a></p>
  </div>
</div>
