<% provide(:title, 'About') %>

<div>
  <h1>About</h1>
  <p>Twitter Clone App built with Ruby on Rails. See more details on <a href="https://github.com/toshimaru/RailsTwitterClone">Github</a>.</p>
  <p>Author: <a href="https://github.com/toshimaru"> Toshimaru</a></p>
</div>
