h1 About
p Twitter clone app built with Ruby on Rails. See more details on <a href="https://github.com/toshimaru/Rails-4-Twitter-Clone">Github</a>.
p Author: <a href="https://twitter.com/toshimaru_e"> toshimaru</a>
