version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
  reviewers:
  - toshimaru
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  reviewers:
  - toshimaru
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  reviewers:
  - toshimaru

