version: 2.1
jobs:
  build:
    working_directory: ~/app
    docker:
      - image: circleci/ruby:2.5-node-browsers
        environment:
          RAILS_ENV: test
    steps:
      - checkout

      # Restore bundle cache
      - type: cache-restore
        key: bundle-{{ checksum "Gemfile.lock" }}

      # Bundle install dependencies
      - run: bundle install --path vendor/bundle

      # Store bundle cache
      - type: cache-save
        key: bundle-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle

      # Database setup
      - run: bundle exec rails db:create db:schema:load

      # RSpec
      - run: bundle exec rspec
      
      # RuboCop
      - run: bundle exec rubocop

      - store_artifacts:
          path: coverage
      - store_artifacts:
          path: tmp/capybara
