<li class="tweet clearfix">
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user&.admin? && !current_user?(user) %>
    <div class="tweet-footer">
      <div class="tweet-actions">
        <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
      </div>
    </div>
  <% end %>
</li>
