<% provide(:title, 'Users') %>

<div class="row">
  <div class="col-md-8">
    <div class="timeline">
      <h2 class="title">All Users</h2>
      <ul class="tweets">
        <%= render @users %>
      </ul>
    </div>
  </div>
</div>
