<% provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>

<p>
  <%= gravatar_for @user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
