- provide(:title, @title)

.row
  aside.col-md-4
    section
      = render 'shared/profile'
      = render 'shared/stats'

  .col-md-8
    .timeline
      h2.title = @title

      - if @users.any?
        ul.tweets
          = render @users
        .paginate = will_paginate @users, renderer: BootstrapPagination::Rails
