<% provide(:title, @title) %>

<div class="border">
  <h2 class="title"><%= @title %></h2>
  <section>
    <%= render 'shared/user_info' %>
  </section>
  <div class="timeline">
    <% if @users.any? %>
    <ul class="tweets">
      <%= render @users %>
      <div class="my-4">
        <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </ul>
    <% end %>
  </div>
</div>
