<% provide(:title, 'Home') %>

<div class="border">
  <h2 class="title">Home</h2>
  <% if logged_in? %>
    <section>
      <%= render 'shared/user_info' %>
    </section>
  <% end %>
  <% if @tweets.any? %>
    <div class="timeline">
      <ol class="tweets">
        <%= render @tweets %>
        <div class="my-4">
          <%= will_paginate @tweets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </ol>
    </div>
  <% end %>
</div>
