<% provide(:title, 'Welcome') %>

<div class="main-column">
  <h1>Welcome to Twitter Clone</h1>
  <p> See what’s happening in the world right now</p>
  <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
  <%= link_to 'Sign in', login_path, class: "btn btn-secondary" %>
</div>
