name: 'Auto Author Assign'

on:
  pull_request_target:
    types: [opened, reopened]

permissions:
  pull-requests: write

jobs:
  assign-author:
    runs-on: ubuntu-slim
    steps:
      - uses: toshimaru/auto-author-assign@v3.0.0
