name: Rails Migration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  migration:
    strategy:
      matrix:
        os: [ubuntu-slim, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      - name: Migration Test
        run: |
          bin/rails db:migrate db:populate db:reset
