.navbar.navbar-default.navbar-fixed-top role="navigation"
  .container
    .navbar-header
      = link_to "Twitter Clone", root_path, class: "navbar-brand"
      button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
        span.sr-only Toggle navigation
        span.icon-bar

    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right.header-menu
        - if signed_in?
          li
            = link_to users_path do
              = icon("users")
              span Users
          li
            = link_to user_path(current_user) do
              = icon("user")
              span Profile
          li
            = link_to tweets_path do
              = icon("comment")
              span All tweets
          li
            = link_to edit_user_path(current_user) do
              = icon("cog")
              span Setting
          li
            = link_to signout_path, method: "delete" do
              = icon("sign-out")
              span Sign out
        - else
          - unless params[:controller] == 'static_pages'
            li = link_to "Users",  users_path
            li = link_to "All tweets", tweets_path
            li = link_to "Sign In", signin_path
